einops
encodec
huggingface_hub
jsonargparse
librosa
lightning
lightning_utilities
# mamba_ssm #stock version requires CUDA, a CPU-based fork has been brought directly into the project (for now)
matplotlib
numpy
onnxruntime
pandas
pesq
pytorch_lightning
PyYAML
Requests
scipy
soundfile
torch
torchaudio
torchcodec
torchinfo
torchmetrics
tqdm
transformers